body{
    background-color: floralwhite;
    text-align: center;
}
h1{
    color: maroon;
    font-style: italic;
}
h2{
    color: maroon;
    font-style: italic;
}

h3{
    color: maroon;
    font-style: italic;
}
h3{
    color: maroon;
}
h3{
    color: maroon;
}
h3{
    color: maroon;
}
h3{
    color: maroon;
}
h3{
    color: maroon;
}
.RuaBelterra291{
   width: 50%;
   text-align: left;
}

.lista {
    text-align: left;
    font-style: italic;
    text-decoration: overline;
    color: ghostwhite;
}