body{
    background-color: floralwhite;
}
h1{
    color: maroon;
    font-style: italic;
}
h2{
    color: maroon;
    font-style: italic;
}
h3{
    color: maroon;
    font-style: italic;
}
h4{
    color: maroon;
}
h5{
    color: maroon;
}
h6{
    color: maroon;
}
h7{
    color: maroon;
}
h8{
    color: maroon;
}
R. Belterra, 291{
width: 30;
}